<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SIF :: Application de gestion Foncière</title>

<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}"
	rel="stylesheet" />
<link href="../../../resources/css/sif.css"
	th:href="@{/resources/css/sif.css}" rel="stylesheet" />

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
	th:src="@{/webjars/jquery/2.0.3/jquery.js}"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.10.3/js/jquery-ui.min.js}"></script>

<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css"
	th:href="@{/webjars/jquery-ui/1.10.3/css/smoothness/jquery-ui-1.10.3.custom.css}"
	rel="stylesheet" />

</head>

<body th:fragment="bodyHeader">


	<img th:src="@{/resources/images/banner-graphic.png}"
		src="../../../resources/images/banner-graphic.png" />

	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li style="width: 100px;"><a href="../welcome.html"
					th:href="@{/}"><i class="icon-home"></i>Home</a></li>
				<li style="width: 130px;"><a
					href="./professions/findProfessions.html"
					th:href="@{/professions/find.html}"><i class="icon-search"></i>Find
						professions</a></li>
				<li style="width: 130px;"><a
					href="./type_professions/findTypeProfessions.html"
					th:href="@{/typeProfessions/find.html}"><i class="icon-search"></i>Find
						Type profession</a></li>
				<li style="width: 130px;"><a href="../owners/findOwners.html"
					th:href="@{/owners/find.html}"><i class="icon-search"></i>Find
						owners</a></li>
				<li style="width: 140px;"><a href="../vets/vetList.html"
					th:href="@{/vets.html}"><i class="icon-th-list"></i>Veterinarians</a></li>
				<li style="width: 90px;"><a href="../exception.html"
					th:href="@{/oups.html}"
					title="trigger a RuntimeException to see how it is handled"><i
						class="icon-warning-sign"></i>Error</a></li>
				<li style="width: 80px;"><a href="#"
					title="not available yet. Work in progress!!"><i
						class=" icon-question-sign"></i>Help</a></li>
			</ul>
		</div>
	</div>

</body>

</html>