<!DOCTYPE html>

<html lang="en">
<head>

</head>

<body th:fragment="bodyLeftPanel">
	<div class="leftpanel">
		<div class="leftpanelinner">

			<!-- ################## LEFT PANEL PROFILE ################## -->

			<div class="media leftpanel-profile">
				<div class="media-left">
					<a href="#"> <img
						src="../../../resources/images/photos/loggeduser.png" alt=""
						th:src="@{/resources/images/photos/loggeduser.png}"
						class="media-object img-circle" />
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						Annie Anzouer <a data-toggle="collapse" data-target="#loguserinfo"
							class="pull-right"><i class="fa fa-angle-down"></i></a>
					</h4>
					<span>Topographe</span>
				</div>
			</div>
			<!-- leftpanel-profile -->

			<div class="leftpanel-userinfo collapse" id="loguserinfo">
				<h5 class="sidebar-title">Adresse</h5>
				<address>Quartier beau chateau, Yaoundé</address>
				<h5 class="sidebar-title">Contact</h5>
				<ul class="list-group">
					<li class="list-group-item"><label class="pull-left">Email</label>
						<span class="pull-right">annie.anzouer@yahoo.fr</span></li>
					<li class="list-group-item"><label class="pull-left">Fixe</label>
						<span class="pull-right">(0237) 8765 564</span></li>
					<li class="list-group-item"><label class="pull-left">Mobile</label>
						<span class="pull-right">+237 1237 789</span></li>
				</ul>
			</div>
			<!-- leftpanel-userinfo -->

			<ul class="nav nav-tabs nav-justified nav-sidebar">
				<li class="tooltips active" data-toggle="tooltip"
					title="Menu principal"><a data-toggle="tab"
					data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>
				<li class="tooltips" data-toggle="tooltip" title="Paramètres"><a
					data-toggle="tab" data-target="#settings"><i class="fa fa-cog"></i></a></li>
				<li class="tooltips" data-toggle="tooltip" title="Déconnection"><a
					href="signin.html"><i class="fa fa-sign-out"></i></a></li>
			</ul>

			<div class="tab-content">

				<!-- ################# MAIN MENU ################### -->

				<div class="tab-pane active" id="mainmenu">
					<h5 class="sidebar-title">Favoris</h5>
					<ul class="nav nav-pills nav-stacked nav-quirk">
						<li class="active"><a href="index.html" th:href="@{/}"><i
								class="fa fa-home"></i> <span>Tableau de bord</span></a></li>
						<li><a href="widgets.html"><span class="badge pull-right">New</span><i
								class="fa fa-cube"></i> <span>SIG</span></a></li>
						<li><a href="maps.html"><i class="fa fa-map-marker"></i>
								<span>SIC</span></a></li>
					</ul>

					<h5 class="sidebar-title">Menu principal</h5>
					<ul class="nav nav-pills nav-stacked nav-quirk">
						<li class="nav-parent"><a href=""><i
								class="fa fa-check-square"></i> <span>Professions</span></a>
							<ul class="children">
								<li><a href="./list.html"
									th:href="@{/professions}">Professions</a></li>
								<li><a href="../type_proefssions/list.html"
									th:href="@{/typeProfessions}">Type de professions</a></li>
							</ul></li>
						<li id="li-titre-foncier" class="nav-parent"><a href=""><i
								class="fa fa-check-square"></i> <span>Titre foncier</span></a>
							<ul class="children">
								<li id="li-region"><a href="./list.html" th:href="@{/regions}">Régions</a></li>
								<li id="li-region"><a href="./list.html" th:href="@{/departements}">Departements</a></li>
							</ul></li>
						<li class="nav-parent"><a href=""><i
								class="fa fa-suitcase"></i> <span>Module 2</span></a>
							<ul class="children">
								<li><a href="buttons.html">Fonction 2.1</a></li>
								<li><a href="icons.html">Fonction 2.2</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- tab-pane -->

				<!-- #################### SETTINGS ################### -->

				<div class="tab-pane" id="settings">
					<h5 class="sidebar-title">Paramètres généraux</h5>
					<ul class="list-group list-group-settings">
						<li class="list-group-item">
							<h5>Newsletter Journalière</h5> <small>Recevoir un
								recapitulatif des évènements qui se sont produits sur la
								plateforme durant la journée.</small>
							<div class="toggle-wrapper">
								<div class="leftpanel-toggle toggle-light success"></div>
							</div>
						</li>
						<li class="list-group-item">
							<h5>Appels téléphoniques</h5> <small>Appellez vos amis et
								famille directement à partir de votre compte.</small>
							<div class="toggle-wrapper">
								<div class="leftpanel-toggle-off toggle-light success"></div>
							</div>
						</li>
					</ul>
					<h5 class="sidebar-title">Paramètres de sécurité</h5>
					<ul class="list-group list-group-settings">
						<li class="list-group-item">
							<h5>Notification de connections</h5> <small>Soyez notifié
								lorsque quelqu'un essaie d'utiliser votre compte.</small>
							<div class="toggle-wrapper">
								<div class="leftpanel-toggle toggle-light success"></div>
							</div>
						</li>
						<li class="list-group-item">
							<h5>Approbation téléphonique</h5> <small>Utiliser votre
								tépéhone lors des connections comm couche supplémentaire de
								sécurité.</small>
							<div class="toggle-wrapper">
								<div class="leftpanel-toggle toggle-light success"></div>
							</div>
						</li>
					</ul>
				</div>
				<!-- tab-pane -->


			</div>
			<!-- tab-content -->

		</div>
		<!-- leftpanelinner -->
	</div>
	<!-- leftpanel -->
</body>

</html>