<!DOCTYPE html>

<html lang="en">


<!--
PetClinic :: a Spring Framework demonstration
-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
</head>

<body>

<div th:fragment="footer" class="footer">
   <script
		src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.js}"></script>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
		th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"
		th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>

	<script src="../../resources/js/toggles.js"
		th:src="@{/resources/js/toggles.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.js"
		th:src="@{/webjars/morrisjs/0.5.1/morris.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"
		th:src="@{/webjars/raphaeljs/2.1.4/raphael-min.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"
		th:src="@{/webjars/flot/0.8.3/jquery.flot.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.js"
		th:src="@{/webjars/flot/0.8.3/jquery.flot.resize.js}"></script>

	<script src="../../resources/js/jquery.flot.spline.js"
		th:src="@{/resources/js/jquery.flot.spline.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.11/jquery.knob.min.js"
		th:src="@{/webjars/jquery-knob/1.2.11/jquery.knob.js}"></script>

	<script src="../../resources/js/sif.js"
		th:src="@{/resources/js/sif.js}"></script>

	<script src="../../resources/js/index.js"
		th:src="@{/resources/js/index.js}"></script>
</div>


</body>

</html>
