<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body th:fragment="footer">

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.js}"></script>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
		th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
		
	<script src="../../../resources/js/datepicker-fr.js"
		th:src="@{/resources/js/datepicker-fr.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"
		th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
		
	<script src="../../../resources/js/autosize.js"
		th:src="@{/resources/js/autosize.js}"></script>

	<script src="../../../resources/js/toggles.js"
		th:src="@{/resources/js/toggles.js}"></script>
	
	<script src="../../../resources/js/jquery.mask.js"
		th:src="@{/resources/js/jquery.mask.js}"></script>
		
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.js"
		th:src="@{/webjars/jquery-validation/1.13.1/jquery.validate.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/js/jquery.dataTables.js"
		th:src="@{/webjars/datatables/1.10.9/media/js/jquery.dataTables.js}"></script>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/js/dataTables.bootstrap.js"
		th:src="@{/webjars//datatables/1.10.9/media/js/dataTables.bootstrap.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.js"
		th:src="@{/webjars/select2/4.0.0/dist/js/select2.js}"></script>
		
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"
		th:src="@{/webjars/bootbox/4.4.0/bootbox.js}"></script>

	<script src="../../../resources/js/sif.js"
		th:src="@{/resources/js/sif.js}"></script>
</body>

</html>
